<% provide(:title, 'FAQ') %>
<h1>FAQ</h1>
<p>
  <h2>Frequently Asked Questions</h2>
  1. How can I get hold of a scanner for my smart phone?
  <a href="https://scan.me/apps/scan/download">Scanning app</a>.
</p>