<div class="center hero-unit">
  <h1>Five Minute Friend</h1>

  <h2>
    For People You Meet on the Go!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<%= link_to image_tag("qr_code.png", alt: "Rails"), 'http://rubyonrails.org/' %>


