<div class="center hero-unit">
  <h1>Five Minute Friend</h1>

  <h2>
    Five Minute Friend
    for people you meet on the go!
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Furl-icon.png", alt: "Rails"), 'http://rubyonrails.org/' %>