<% provide(:title, @identity.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @identity %>
        <%= @identity.name %>
      </h1>
    </section>
  </aside>
</div>